In [1]:
import pandas as pd
import missingno as ms
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [2]:
from data_pipeline_mcc.steps import *
from data_pipeline_mcc.pipelines import main_mcc_pipeline

In [3]:
def data_pipeline():
    df = load_csv_data(path='training_data.csv')
    df = date_col_transform(df, col='DATUM')
    df = date_col_transform(df, col='DUE_DATE')
    df = date_col_transform(df, col='PAYMENT_DATE')
    df = inconsist_col_drop(df)
    df = label_calculation(df)
    return df

In [4]:
df = data_pipeline()

In [14]:
display(df.head())

,MANDT,BUKRS,GJAHR,HKONT,KUNNR,PRCTR,KNA1_LAND1,KNA1_ORT01,ZTERM,DUE_DATE_SOURCE,...,BLART,T003T_LTEXT,TBSLT_LTEXT,DATUM,DUE_DATE,GJAHR2,DOCUMENT_DATE,PAYMENT_DATE,DAY_COUNT,PAYMENT_STATUS
0,310,3,2018,11,18724,1,NL,KATWIJK,63,ZBD2T,...,RV,Billing doc.transfer,Invoice,2017-12-01,2017-12-23,2019,1.512086e+15,2018-01-09,-17,2
1,310,3,2018,11,19521,1,NL,WARNSVELD,63,ZBD2T,...,RV,Billing doc.transfer,Invoice,2018-01-02,2018-01-10,2016,1.514851e+15,2018-01-09,1,0
2,310,3,2018,11,5420,1,NL,OSS,63,ZBD2T,...,RV,Billing doc.transfer,Invoice,2017-12-01,2017-12-27,2019,1.512086e+15,2018-01-09,-13,2
3,310,3,2018,11,18724,1,NL,KATWIJK,63,ZBD2T,...,RV,Billing doc.transfer,Invoice,2018-01-02,2018-01-27,2016,1.514851e+15,2018-01-09,18,1
4,310,3,2018,11,5420,1,NL,OSS,63,ZBD2T,...,RV,Billing doc.transfer,Invoice,2018-01-02,2018-01-07,2016,1.514851e+15,2018-01-09,-2,2

In [7]:
# counts check for MCC
df.PAYMENT_STATUS.value_counts()

PAYMENT_STATUS
2    116169
0     94494
1     55430
Name: count, dtype: int64

In [12]:
# checking skewness at hkont granularity (possible cause for bad prediction)
df_vc_hkont = pd.DataFrame(df.groupby('HKONT')['PAYMENT_STATUS'].value_counts(ascending=True))
display(df_vc_hkont)

                      count
HKONT PAYMENT_STATUS
0     1                   2
      2                  15
1     1               10266
      0               14510
      2               22665
2     1                   6
      2                  19
3     2                   3
      1                 293
      0                 711
4     0                 456
      1                 560
      2                 869
5     1               33979
      0               70337
      2               82301
6     0                 348
      1                 353
      2                 640
7     1                 484
      0                 506
      2                 934
8     2                   2
9     0                   1
      1                  14
      2                  41
10    2                   8
      1                 908
      0                1572
11    1                2487
      0                3844
      2                6711
12    2                  20
      1                  73
      0                 215
13    2                1941
      0                1994
      1                6005

In [6]:
# main pipeline for MCC
main_mcc_pipeline()

Initiating a new run for the pipeline: Main MCC Pipeline.
Registered new version: (version 6).
Executing a new run.
Using user: default
Using stack: default
  artifact_store: default
  orchestrator: default
You can visualize your pipeline runs in the ZenML Dashboard. In order to try it locally, please run zenml up.
Using cached version of load_csv_data.
Step load_csv_data has started.
Using cached version of model_selection.
Step model_selection has started.
Using cached version of model_selection_2.
Step model_selection_2 has started.
Using cached version of date_col_transform.
Step date_col_transform has started.
Using cached version of date_col_transform_2.
Step date_col_transform_2 has started.
Using cached version of date_col_transform_3.
Step date_col_transform_3 has started.
Using cached version of inconsist_col_drop.
Step inconsist_col_drop has started.
Using cached version of label_calculation.
Step label_calculation has started.
Using cached version of feature_selection.
Step feature_selection has started.
Using cached version of multi_class_count_check.
Step multi_class_count_check has started.
Using cached version of data_splitter.
Step data_splitter has started.
Using cached version of model_training.
Step model_training has started.
Using cached version of model_training_2.
Step model_training_2 has started.
Using cached version of model_prediction.
Step model_prediction has started.
Using cached version of model_prediction_2.
Step model_prediction_2 has started.
Step model_evaluation has started.
CONFUSION MATRIX
          f[[15936  1130  6396]
 [ 2119  8026  3889]
 [ 6114  1947 20967]]

CLASSIFICATION REPORT
                        precision    recall  f1-score   support

           0       0.66      0.68      0.67     23462
           1       0.72      0.57      0.64     14034
           2       0.67      0.72      0.70     29028

    accuracy                           0.68     66524
   macro avg       0.68      0.66      0.67     66524
weighted avg       0.68      0.68      0.67     66524


Step model_evaluation has finished in 0.430s.
Step model_evaluation_2 has started.
CONFUSION MATRIX
          f[[11717  1858  9887]
 [ 2500  4677  6857]
 [ 6296  2271 20461]]

CLASSIFICATION REPORT
                        precision    recall  f1-score   support

           0       0.57      0.50      0.53     23462
           1       0.53      0.33      0.41     14034
           2       0.55      0.70      0.62     29028

    accuracy                           0.55     66524
   macro avg       0.55      0.51      0.52     66524
weighted avg       0.55      0.55      0.54     66524


Step model_evaluation_2 has finished in 0.388s.
Pipeline run has finished in 2.257s.

PipelineRunResponse(body=PipelineRunResponseBody(created=datetime.datetime(2024, 5, 12, 12, 15, 33, 627570), updated=datetime.datetime(2024, 5, 12, 12, 15, 33, 627572), user=UserResponse(body=UserResponseBody(created=datetime.datetime(2024, 4, 20, 15, 40, 21, 431102), updated=datetime.datetime(2024, 4, 20, 15, 40, 21, 431104), active=True, activation_token=None, full_name='', email_opted_in=None, is_service_account=False, is_admin=True), metadata=None, resources=None, id=UUID('3a83a8c5-1f1c-44eb-a17f-c0cd414147d1'), permission_denied=False, name='default'), status=<ExecutionStatus.INITIALIZING: 'initializing'>, stack=StackResponse(body=StackResponseBody(created=datetime.datetime(2024, 4, 20, 15, 40, 20, 993137), updated=datetime.datetime(2024, 4, 20, 15, 40, 20, 993137), user=None), metadata=None, resources=None, id=UUID('8b2d75d6-14de-474a-9651-5a34bd521e2c'), permission_denied=False, name='default'), pipeline=PipelineResponse(body=PipelineResponseBody(created=datetime.datetime(2024, 5, 12, 12, 15, 33, 298113), updated=datetime.datetime(2024, 5, 12, 12, 15, 33, 298115), user=UserResponse(body=UserResponseBody(created=datetime.datetime(2024, 4, 20, 15, 40, 21, 431102), updated=datetime.datetime(2024, 4, 20, 15, 40, 21, 431104), active=True, activation_token=None, full_name='', email_opted_in=None, is_service_account=False, is_admin=True), metadata=None, resources=None, id=UUID('3a83a8c5-1f1c-44eb-a17f-c0cd414147d1'), permission_denied=False, name='default'), status=[<ExecutionStatus.INITIALIZING: 'initializing'>], version='6'), metadata=None, resources=None, id=UUID('67ac6d97-99f9-4b38-a316-2a9eb0d6fe32'), permission_denied=False, name='Main MCC Pipeline'), build=None, schedule=None, code_reference=None, deployment_id=UUID('81e42ba1-9a69-4937-aba6-331f46f1b931'), trigger_execution=None), metadata=PipelineRunResponseMetadata(workspace=WorkspaceResponse(body=WorkspaceResponseBody(created=datetime.datetime(2024, 4, 20, 15, 40, 20, 981133), updated=datetime.datetime(2024, 4, 20, 15, 40, 20, 981134)), metadata=None, resources=None, id=UUID('0d536f95-116e-40c3-b66a-1de349401a30'), permission_denied=False, name='default'), run_metadata={}, steps={}, config=PipelineConfiguration(enable_cache=True, enable_artifact_metadata=None, enable_artifact_visualization=None, enable_step_logs=None, settings={}, extra={}, failure_hook_source=None, success_hook_source=None, model=None, parameters=None, name='Main MCC Pipeline'), start_time=datetime.datetime(2024, 5, 12, 12, 15, 33, 625552), end_time=None, client_environment={'environment': 'notebook', 'os': 'mac', 'mac_version': '14.4.1', 'python_version': '3.11.2'}, orchestrator_environment={}, orchestrator_run_id=None), resources=None, id=UUID('4a8bca8e-7874-4b07-a7a6-bb872aef721c'), permission_denied=False, name='Main MCC Pipeline-2024_05_12-12_15_33_625546')